<!DOCTYPE html>
<html>
<style>
    body{
        margin: 0;
        padding: 0;
        background: url(Online-exams-Reu2.jpg);
        background-size: cover;
        font-family: sans-serif;
    }
    input[type=email], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=password], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        height: 420px;
        border-radius: 5px;
        box-sizing: border-box;
        background: rgba(0,0,0,.4);
        padding: 20px;
    }

    h2{
        margin: 0;
        padding: 0 0 20px;
        color: cyan;
        text-align: left;
    }
    label[for=email]{
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }
    label[for=password]{
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }
</style>
<body>



<div>
    <h2><%= title %></h2>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input required type="email" name="email" placeholder="Email">

        <label for="password">Password</label>
        <input required type="password" name="password" placeholder="Password">



        <input type="submit" value="Login">
    </form>
</div>

</body>
</html>
