<% include header.ejs %>
<head>
    <title>Registration</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
</head>
<div class="container">
    <p><h1><%= title %></h1></p>
    <% try
    {  var myvar = title.toString();
    if (myvar.toString()=='Registration complete'){%><script>alert("User Added Successfully");</script><%}
    else
    {if (myvar.toString()=='Registration');
    else
    {%><script> alert("There was some error. Please try again");</script><%}
    }
    }
    catch(errors)
    {

    }
    %>

<div class="alert alert-danger hide"></div>


<form  action="/registration" method="post">


    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" class="form-control"
               placeholder="Enter Your First Name">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" class="form-control"
               placeholder="Enter Your Last Name">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control"
               placeholder="Email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control"
               placeholder="Password">
    </div>

    <div class="form-group">
        <label for="passwordMatch">Re-Enter Password</label>
        <input type="password" name="passwordMatch" class="form-control"
               placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>


</form>
</div>