



<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Assess Easy</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <!-- teacher dashboard -->
            <% if(accessID == 1) { %>
            <ul class="nav" id="side-menu" id="teachersNav">
                <li>
                    <a href="/teacher_d"><i class="fa fa-dashboard fa-fw"></i>Teacher's Dashboard</a>
                </li>
                <li>
                    <a href="/viewClasses"><i class="fa fa-bar-chart-o fa-fw"></i> Manage Class</a>
                </li>
                <li>
                    <a href="../../teacher/assessments"><i class="fa fa-edit fa-fw"></i>Upload Results</a>
                </li>

            </ul>
        <% } else { %>
            <!-- student dashboard -->
            <ul class="nav" id="side-menu" id="studentsNav">
                <li>
                    <a href="/student_dashboard"><i class="fa fa-dashboard fa-fw"></i>Student's Dashboard</a>
                </li>

                <li class="dropdown" id = "student-class-section">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o fa-fw"></i>Class<span class="fa arrow"></span></a>
                    <ul class="dropdown-menu"  role="menu">
                        <li>
                            <a href="../../student/classes"><i class="fa fa-th-list fa-fw"></i>View Classes</a>
                        </li>
                        <li>
                            <a href="/manage_class"><i class="fa fa-table fa-fw"></i>Manage Class</a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="../../student/assessments"><i class="fa fa-edit fa-fw"></i>View Assessments</a>
                </li>
                <li>
                    <a href="../../student/results"><i class="fa fa-bar-chart-o fa-fw"></i>Results</a>
                </li>

            </ul>
            <% }  %>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<script>
    $(document).ready(function () {

    });
</script>