
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#javascript:">Assess Easy</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li class="dropdown hide" id="teacher-class-section">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o fa-fw"></i> Class<span class="fa arrow"></span></a>
                    <ul class="dropdown-menu"  role="menu">
                        <li>
                           <a href="javascript:;" onclick="viewClasses()">View All</a>
                            <!-- <a href="teacher/viewClasses.ejs">View All</a>-->
                        </li>
                        <li>
                            <a href="javascript:;" onclick="addNewClass()">Create New</a>
                        </li>
                        <li>
                            <a href="javascript:;" onclick="">Edit Existing</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- student claases -->
                <li class="dropdown" id = "student-class-section">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o fa-fw"></i> Class<span class="fa arrow"></span></a>
                    <ul class="dropdown-menu"  role="menu">
                        <li>
                            <a href="/manage_class">Manage Classes</a>
                            <!-- <a href="teacher/viewClasses.ejs">View All</a>-->
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>


                <li>
                    <a href=""><i class="fa fa-edit fa-fw"></i> Take Test</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-bar-chart-o fa-fw"></i> Results</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
    var jq=$.noConflict();
     jq(document).ready(function() {
        if (window.location.href.indexOf("student_dashboard") > 0) {
        }
        else{
            jq("#student-class-section").addClass("hide");
            jq("#teacher-class-section").removeClass("hide");
        }
    });

</script>