<% include ../header.ejs %>
<head>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/metisMenu.min.css" rel="stylesheet">
    <link href="../../css/sb-admin-2.css" rel="stylesheet">
    <link href="../../css/morris.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <!-- scripts -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/metisMenu.min.js"></script>
    <script src="../../js/raphael.min.js"></script>
    <script src="../../js/morris.min.js"></script>

    <!--Requirement jQuery-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--Load Script and Stylesheet -->
    <link type="text/javascript" href="/public/css/jquery.simple-dtpicker.css"></link>
    <script type="text/css" src="/public/js/jquery.simple-dtpicker.js" rel="stylesheet" ></script>
    <!---->

</head>

<div id="wrapper">

    <% include ../side_menu.ejs %>

    <div id="page-wrapper">
        <form id="addTestForm">
            Select Test Type
            <select id="testType">
                <option value="default">Choose Test Type</option>
            </select>
            <script>
                var select = document.getElementById("testType"),
                    arr = ["True/False","MCQ","Long Questions"];

                for(var i = 0; i < arr.length; i++) {
                    var option = document.createElement("OPTION");
                    var txt = document.createTextNode(arr[i]);
                    option.appendChild(txt);
                    option.setAttribute("value",arr[i]);
                    select.insertBefore(option,select.lastChild);
                }
            </script>

            <div>
            Test Name: <input type="text" name="testName[]" style="width: 750px" class="form-control" placeholder="Class Name" autofocus>
            </div>

            <div id="date_picker"></div>
            <script type="text/javascript">
                $(function(){
                    $('#date_picker').dtpicker();
                });
            </script>

        </form>
    </div>

</div>

</body>



</html>