<% include ../header.ejs %>
<head>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/metisMenu.min.css" rel="stylesheet">
    <link href="../../css/sb-admin-2.css" rel="stylesheet">
    <link href="../../css/morris.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <!-- scripts -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/metisMenu.min.js"></script>
    <script src="../../js/raphael.min.js"></script>
    <script src="../../js/morris.min.js"></script>
    <title>Results</title>

    <script>
        var limitWord = 800;
        myFunction(id)
        {
            $this = id;
            alert("here");
            /* var regex = /\s+/gi;
             var wordcount = jQuery.trim($this.val()).replace(regex, ' ').split(' ').length;
             if (wordcount <= limitWord) {
                 chars = $this.val().length;
             } else {
                 var text = $(this).val();
                 var new_text = text.substr(0, chars);
                 $(this).val(new_text);
                 wordcount --;
             }
             $("#count"+id).html(wordcount);*/
        }
    </script>
</head>

<body>


<div id="wrapper">

    <% include ../side_menu.ejs %>

    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col col-lg-11">
                    <h3> assignment</h3>
                    <form action="/">
                        <div class="form-row">
                    <table style="border:none;padding: 130px;border-color:#0000" class="table table-dark">
                        <tbody>
                        <% result.forEach((result) => { %>
                        <tr style="border-color: transparent">
                            <td style="border:none;padding: 15px;">
                                <div class="form-group">
                                    <label for="<%= result.QuestionID%>"><%= result.Text %></label>
                                    <textarea id="<%= result.QuestionID%>" name="answer[]" class="form-control" rows="5"></textarea>

                                </div>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                        <button type="submit" class="btn btn-success" >Submit</button>
                        <button type="button" class="btn btn-danger" >Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>